Based on materials from [here](https://github.com/chendaniely/pydatadc_2018-tidy) and talk [here](https://www.youtube.com/watch?v=iYie42M1ZyU)

In [1]:
import numpy as np
import scipy as sp

import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

import seaborn as sns
sns.set_style("whitegrid")

import pandas as pd
pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)
pd.set_option('max_colwidth', None)

%load_ext autoreload
%autoreload 2

# Creating tidy data

Definition by Wikham [here](http://vita.had.co.nz/papers/tidy-data.pdf):

1. Each variable is a column
2. Each observation is a row
3. Each type of observational unit is a table.

In [5]:
pew = pd.read_csv('https://raw.githubusercontent.com/chendaniely/pydatadc_2018-tidy/master/data/pew.csv')
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [9]:
# Create a single income column

pew.melt(
    id_vars='religion',
    var_name='income',
    value_name='count'
)

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]